<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <title>Registro de la Venta</title><br>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<div>

<body>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <br>
    <h3>En esta seccion podras realizar el proceso de registro y validacion de la informacion de la venta</h3>
    <form action="/add" method="POST">
        Id_Pedido <div class="input-group">
          <div class="col-sm-4">
              <input type="search" class="form-control"  aria-label="Search"
                  aria-describedby="search-addon" />
          </div>
          <button type="button" class="btn btn-outline-primary"
              style="background-color: #58bbae; border: #58bbae; color:#ffffff; text-align:center">Buscar</button>
      </div> 
      <br>
      Fecha_Venta <div class="input-group">
        <div class="col-sm-4">
            <input type="search" class="form-control"  aria-label="Search"
                aria-describedby="search-addon" />
        </div>
        <button type="button" class="btn btn-outline-primary"
            style="background-color: #58bbae; border: #58bbae; color:#ffffff; text-align:center">Buscar</button>
    </div><br>
        
        Documento Id_cliente <div class="input-group">
          <div class="col-sm-4">
              <input type="search" class="form-control"  aria-label="Search"
                  aria-describedby="search-addon" />
          </div>
          <button type="button" class="btn btn-outline-primary"
              style="background-color: #58bbae; border: #58bbae; color:#ffffff; text-align:center">Buscar</button>
      </div><br>
      nombre_cliente <div class="input-group">
        <div class="col-sm-4">
            <input type="search" class="form-control" aria-label="Search" name="nombre_cliente" placeholder="nombre_cliente"
                aria-describedby="search-addon" />
        </div>
        <button type="button" class="btn btn-outline-primary"
            style="background-color: #58bbae; border: #58bbae; color:#ffffff; text-align:center">Buscar</button>
    </div><br>
    <br>
    id_Venta <div class="input-group">
      <div class="col-sm-4">
          <input type="search" class="form-control"  aria-label="Search" name="id_Venta" placeholder="id_Venta"
              aria-describedby="search-addon" />
              <button type="submit" class="btn btn-primary">
                  Registrar Venta
              </button>
      </div>
      <button type="button" class="btn btn-outline-primary"
          style="background-color: #58bbae; border: #58bbae; color:#ffffff; text-align:center">Buscar</button>
  </div><br><br>
               
        
       
    </div>   
    </form>
    <br>
    <br>
    <table class="table">

        <thead>
          <tr>
            <th scope="col">Id Producto</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio unitario(por producto)</th>
            <th scope="col">Total</th>
           
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">10354</th>
            
            <td>Ponque</td>
            <td>1</td>
            <td>8000</td>
            <td>8000</td> 
            <tr>
            <th scope="row">18832</th>
            <td>Galletas</td>
            <td>15</td>
            <td>2000</td>
            <td>30000</td>
        </tr>
        <tr>
            <th scope="row">28734</th>
            <td>Postres</td>
            <td>5</td>
            <td>5000</td>
            <td>25000</td>
        </tr>
        <tr>
            <th scope="row">23974</th>
            <td>Empanadas</td>
            <td>10</td>
            <td>2000</td>
            <td>2000</td>
        </tr>
        <tr>
            <th scope="row">09384</th>
            <td>Desayunos</td>
            <td>2</td>
            <td>20000</td>
            <td>40000</td>
        </tr>
           <% if(data){ %>}
           <% for (var i=0, i<data.length;i++){%>} 
            <tr>
               <td><%= (i+1) %></td>
               <td><%= data[i].id_producto %></td>
               <td><%= data[i].cantidad%></td> 
               <td><%= data[i].nombre_cliente%></td>
               <td><%= data[i].id_cliente%></td>
               <td><%= data[i].Fecha_Venta%></td>
                <td><a href="/delete" class="btn btn-danger">delete/<%=data[i].id%>"</a></td>
                <a href="/update/"<%= data[i].id %> class="btn btn.info">update</a>
            </tr>

         
        </tbody>
        <th scope="col">Valor total venta</th>
        <tr><th scope="row">105000</th></tr>
      </table>
      
      <br>
      Estado del Pedido<select name="Estado">
        <option value="1">En Proceso</option> 
        <option value="2">Cancelada</option> 
        <option value="3">Entregada</option>
         
     </select>
     <br><br>
      
      <input type="submit" value="Actualizar" style="background-color: #58bbae; border: #58bbae ">
      <input type="submit" value="Cancelar" style="background-color: #58bbae; border: #58bbae ">
     
     

</body>
</html>